@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(33, 32, 32, 0.77);
    overflow: hidden;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.707);
    padding: 5%;
}
.input{
    margin: 10%;
}
.input input{
    width: 100%;
}
.input.resumen{
    display: none;
}

#hideForm{
    border-radius: 10px;
    padding: 5%;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}

#hideForm:hover{
    transform: scale(1.04);
}


/* ==================================== */

#options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
}
#options #images{
    width: 20%;
    height: 50%;
    text-align: center;
}
#options #images img{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: translateeY 0.2 ease-in-out;
}
#options #images img:hover{
    background-color: rgb(255, 255, 255);
    transform: translateY(-10%);
}