@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(35, 35, 35, 0.953);
    overflow: hidden;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.707);
    padding: 5%;
}
.input{
    margin: 10%;
}
.input input{
    color: black;
    width: 100%;
    border-radius: 5px;
}
.input.resumen{
    display: none;
}

#hideForm{
    border-radius: 10px;
    padding: 5%;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}

#hideForm:hover{
    transform: scale(1.04);
}


/* ==================================== */

button{
    background: rgb(58,133,180);
    background: linear-gradient(274deg, rgba(58,133,180,1) 28%, rgba(29,205,253,1) 67%);
    font-weight:900;
    font-size: 100%;
}
#tituloCategoria{
    font-size: calc(100dvw - 95dvw);
}