*{
    padding: 0px;
    margin: 0px;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(33, 32, 32, 0.77);
}